* {
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    margin: 1em 0;
}

.comma-separated::after {
    content: ', ';
}
.comma-separated:last-child::after {
    content: '';
}
